@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(33, 33, 33);
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(21, 21, 21);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #626262;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #919191;
}